@model IEnumerable<UniversityManagementSoftware.Models.CourseStaticViewModel>
@{
    ViewBag.Title = "CourseView";
}

<div class="container">
    <div style="padding-top:40px; padding-bottom:40px;"  class="form-group">
        <label class="control-label col-md-2">Department</label>
        <div class="col-md-10">
            @if (ViewBag.Deparment != null)
            {
                @Html.DropDownListFor(x => x.DepartmentName, new SelectList(ViewBag.Deparment, "Id", "DepartmentName"), "Select Department", new { @class = "" })
            }
            
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Course Code</th>
            <th>Name</th>
            <th>Room No</th>
            <th>Start Time</th>
            <th>End Time Time</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

